page-login {
    .item{
        margin-bottom: 10px;
        border: 1px solid #ccc9c9;
        background-color: #ffffff;
    }

    //added by jhomz
    .scroll-content {
        background: blue url('../assets/imgs/loginbackgrounds.jpg');
        background-color: map-get($colors, primary);
        display: flex;
        flex-direction: column;
      }
 
      ion-row {
        align-items: center;
        text-align: center;
      }
 
      .inp {
          border-radius: 8px !important;
          padding-left: 10px !important;
          background-color: #f6f6f6;
          opacity: 0.7;
          font-size: 0.9em;
          padding: 0px 25px !important;
      }
 
      .list {
          margin: 0px;
          vertical-align: middle;
      }
 
      .login-logo {
        flex: 2;
      }
 
      .login-form {
          flex: 1;
      }
 
      .create-account {
        color: #fff;
        text-decoration: underline;
        background: none;
      }
 
      .login-button {
          width: 100%;
          border-radius: 10px;
          font-size: 1.0em;
          width: 50%;
          background-color: transparent;
          border: 1px solid #fff;
          padding: 20px 0px;
      }
      .loginheader{
          background: transparent url('../assets/imgs/bfarhead.png') no-repeat;
          background-size: 100%;
          height: 170px;
          width: 550px;
          margin-top: 0px;
      }
}
