<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-row class="login-form">
    <ion-col col-8 offset-2>
      <ion-img class="loginheader"></ion-img>
      <ion-list inset>
          <br>    
        <ion-item class="inp" item-center>
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input [(ngModel)]="user.username" placeholder="Username" type="text"></ion-input>
        </ion-item>
          <br>    
        <ion-item class="inp" item-center>
          <ion-label><ion-icon name="lock"></ion-icon></ion-label>
          <ion-input [(ngModel)]="user.password" placeholder="Password" type="password"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button (click)="validateCredentials()" primary class="login-button">
        <ion-icon name="ios-key-outline"></ion-icon> &nbsp;
        Log-in
      </button>
    </ion-col>
  </ion-row>
  </ion-content>