<ion-menu [content]="content" persistent="true">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <!-- <ion-icon ios="ios-home" md="md-home"></ion-icon>
          <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
          <ion-icon ios="ios-construct" md="md-construct"></ion-icon>
          <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon> -->
          <ion-icon ios="{{p.ios}}" md="{{p.class}}"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>
  
  </ion-menu>
  
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>